source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

nuget Aardvark.Base                        ~> 2.1.0
nuget Aardvark.Base.FSharp                 ~> 2.1.0


nuget Aardvark.Application.WinForms.GL
nuget Aardvark.SceneGraph
nuget Aardvark.Rendering.Interactive

group Build
content: none
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
source https://api.nuget.org/v3/index.json

github vrvis/Aardvark.Fake:customPaket