source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

nuget Aardvark.Base                        ~> 2.4.5
nuget Aardvark.Base.FSharp                 ~> 2.4.5


nuget Aardvark.Application.WinForms.GL     ~> 2.6.1
nuget Aardvark.SceneGraph                  ~> 2.6.1
nuget Aardvark.SceneGraph.IO               ~> 2.6.1
nuget Aardvark.Rendering.Interactive       ~> 2.6.1
nuget Aardvark.Rendering.Text              ~> 2.6.1

nuget BulletSharp

nuget FShade = 2.3.5

nuget Aardvark.Git                         ~> 2.1.4

group Build
content: none
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
source https://api.nuget.org/v3/index.json

github vrvis/Aardvark.Fake:customPaket